@model proyectoRicardo.Models.Productos

@{
    ViewBag.Title = "manejoDeEscuchadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.ActionLink("otro link", "agregarProducto")



@Html.Label("nombre")
@Html.TextBox("txtNombre")

<label for="Nombre">Nombre</label>
<input id="txtNombre" name="txtNombre" type="text" value="">
<h2>manejoDeEscuchadores</h2>

